.vscode
Library
Logs
obj
Packages
ProjectSettings
Temp
UserSettings
.vscode
Assembly-CSharp.csproj
Hero.sln
.meta
Concrete textures pack
Fantasy Skybox FREE
Ground textures pack
RPGHero
Standard Assets
